---
import NavBar from "@/components/pokemons/shared/NavBar.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import { siteInfo } from "src/consts/site-info";

interface Props {
    title: string;
    image?: string;
    description: string;
}
const props = Astro.props;

const {
    title = siteInfo.title,
    description = siteInfo.description,
    image,
} = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <!-- SEO -->
        <meta name="description" content={description} />
        <meta name="author" content={"Edardo Castro P."} />
        <!-- OG Metags -->
        <meta property="og:title" content={title} />
        <meta property="og:descroption" content={description} />
        <meta property="og:image" content={image} />
        <!-- <style>
            @view-transition {
                navigation: auto;
            }
        </style> -->
        <ViewTransitions />
    </head>
    <body class="bg-slate-800 text-slate-100">
        <NavBar />
        <main class="mt-10 m-auto flex-grow w-full max-w-4xl px-4">
            <!-- <h2 class="bg-red-500">demo</h2> -->
            <slot />
        </main>
    </body>
</html>
